{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <title>Novo Chef</title>
{% endblock head %}

{% block content %}
    <section class="details">
        <form method="POST" action="/admin/chefs" enctype="multipart/form-data">
            <div class="head">
                <h1>Criando Chef</h1>
                <div class="options">
                    <a id="return" href="/admin/chefs">Voltar</a>
                    <button type="submit">Salvar Chef</button>
                </div>
            </div>

            <div class="item">
                <label for="">Nome</label>
                <input type="text" name="name" value="{{chef.name}}" placeholder="Digite um nome">
            </div>

            <div class="item">
                <label for="">Avatar</label>
                <div id="photos-upload-chef" class="button">
                    <p>Enviar Avatar</p>
                    <input id="photos-input" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
                </div>
            </div>

        </form>
    </section>
    <script src="scripts/admin_scripts.js"></script>
{% endblock content %}