{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <title>Editar Receita</title>
{% endblock head %}

{% block header %}{% endblock header %}

{% block content %}

    <section class="detailsedit">

        <div class="forms">
            <form id="form-delete" action="/admin/chefs?_method=DELETE" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{chefId}}">
            </form>
            <form action="/admin/chefs?_method=PUT" method="post" enctype="multipart/form-data">

                <input type="hidden" name="id" value="{{chefId}}">
                <div class="head">

                    <h1>Editar Chef</h1>
                    <div class="buttons">
                        <a id="return" href="/admin/chefs/{{chefId}}">Voltar</a>
                        <button id="del" form="form-delete" type="submit">Deletar</button>
                        <button id="save" type="submit">Salvar Chef</button>
                    </div>
                </div>

                <div class="fields">
                    <div class="item">
                        <label for="">Nome</label>
                        <input type="text" name="name" value="{{chef.name}}" placeholder="Digite um nome">
                    </div>

                    <div class="item">
                        <label for="">Avatar</label>
                        <div class="oldFile">
                            <input type="text" name="" id="oldFile" placeholder="{{files[0].name}}">
                        </div>
                        <div id="photos-upload-chef" class="button">
                            <p>Mudar Avatar</p>
                            <input id="photos-input" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
                        </div>
                    </div>
                </div>
            </form>
            {% include 'admin/chefs/confirm.njk' %}
        </div>

    </section>
    <script src="scripts/admin_scripts.js"></script>
{% endblock content %}