<div class="item">
    <label for="">Nome</label>
    <input type="text" name="name" value="{{chef.name}}" placeholder="Digite um nome">
</div>

<div class="item">
    <label for="">Avatar</label>
    <input type="url" name="avatar_url" value="{{chef.avatar_url}}" placeholder=" Https://">
</div>

