<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <link rel="stylesheet" href="/admin.css">
        <link rel="icon" type="image/png" sizes="16x16" href="assets\favicon-32x32.png">
        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

    </head>
    <body>
        <header>
                <div class="header">
                    <div class="header-content">
                        <div class="logo">
                            <a href="/"><img src="assets\logo2.png" alt="LOGO Foodfy"></a>
                        </div>
                            <a id="create" href="/admin/recipes/create">Criar Receita</a>
                    </div>
                </div>
        </header>
        {% block content %}{% endblock content %}
        
    </body>
</html>