{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/admin.css">

    <title>Recipes</title>
{% endblock head %}

{% block content %}
    <div class="head">
        <h2>Gerenciar receitas</h2>
    </div>
    <section class="cards">

        {% for recipe in recipes %}
        <div class="card">
            <div class="image-content">
                <img src="{{recipe.image_url}}" alt="{{recipe.title}}">
            </div>
            <div class="card-infos">
                <h3 id>{{recipe.title}}</h3>
                <p>por {{recipe.author}}</p>
                <a href="/admin/recipes/{{recipe.id}}" class="visualizar">Visualizar</a>
            </div>
        </div>
        {% endfor %}

    </section>
{% endblock content %}
