{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <title>Novo usuário</title>
{% endblock head %}

{% block content %}
    <section class="user-profile form">
        <form action="/admin/profile?_method=PUT" method="POST">
            <div class="head">
                <h2>Bem vindo(a),
                    {{user.name}}</h2>
                <div class="buttons">
                    <button class="button" type="submit" id="save">Salvar</button>
                </div>
            </div>

            <div class="fields">
                {% include 'admin/users/fields.njk' %}

                <input type="hidden" name="id" value="{{user.id}}">
                <div class="item">
                    <label>Senha</label>
                    <div class="input">
                        <input type="password" name="password" placeholder="Digite a senha">
                    </div>
                </div>
            </div>
        </form>
    </section>

{% endblock content %}