{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <title>Usuários</title>
{% endblock head %}

{% block content %}

    <div class="head">
        <h2>Usuários</h2>
        {% if session.isAdmin %}
            <a class="button" href="/admin/users/register">Novo</a>
        {% endif %}
    </div>
    <section class="cards users">
        {% for user in users %}
            <div class="card user" id={{user.id}}>
                <div class="card-infos">
                    <h3>{{user.name}}</h3>
                    <p>{{user.email}}</p>
                    <div class="options">

                        <a href="/admin/users/{{user.id}}/edit" class="edit" type="submit">Editar</a>

                        <form action="/admin/users/{{user.id}}?_method=DELETE" method="post" id="delete">
                            <button class="delete" onclick="ButtonPreventDefault(event,'{{user.id}}')" type="submit">Remover</button>
                            <input type="hidden" name="id" value="{{user.id}}">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    <input type="hidden" id="loggedId" value="{{loggedId}}">
    {% include 'admin/users/confirm.njk' %}
    </section>
{% endblock content %}