{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/home.css">

    <title>Foodfy</title>
{% endblock head %}
<body>
    <header>
        {% block header %}
            <div class="logo">
                <a href="#"><img src="/assets/logo.png" alt="LOGO Foodfy"></a>
            </div>
            <div class="header-infos">
                <a href="/about">About</a>
                <a href="/recipes">Recipes</a>
            </div>
        {% endblock header %}
    </header>
    {% block content %}
        <div class="main">
            <div class="info">
                <h1>The best recipes</h1>
                <p>Lear how to coock the best plates with recipes created by professionals from all over the world.
                </p>
            </div>
            <img src="/assets/chef.png" alt="chef">
        </div>
        <h2>Most accessed</h2>
        <section class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{recipe.id}}">
                    <div class="image-content">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <div class="card-infos">
                        <h3 id="id">{{recipe.title}}</h3>
                        <p>por
                            {{recipe.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endblock content %}
</body>