{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <title>Administração</title>
{% endblock head %}

{% block content %}

    <section class="details admin">
            <div class="content">
                <div class="chefs">
                    <a href="/admin/chefs/">
                        <img src="https://image.flaticon.com/icons/svg/817/817282.svg" alt="Chefs">
                        <h2>Chefs</h2>
                    </a>
                </div>
                <div class="recipes">
                    <a href="/admin/recipes/">
                        <img src="https://image.flaticon.com/icons/svg/78/78874.svg" alt="Recipes">
                        <h2>Recipes</h2>
                    </a>
                </div>
            </div>
    </section>
{% endblock content %}