<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" sizes="16x16" href="assets\favicon-32x32.png">
        <link rel="stylesheet" href="recipes.css">

        <title>Recipe</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="index.html"><img src="assets\logo.png" alt="LOGO Foodfy"></a>
            </div>
            <div class="header-infos">
                <a href="/about">About</a>
                <a href="/recipes">Recipes</a>
            </div>
        </header>
        <section class="cards">
            <div class="card" id="burger">
                <div class="image-content">
                    <img src="assets\burger.png" alt="Burger">
                </div>
                <div class="card-infos">
                    <h3 id>Triple bacon burger</h3>
                    <p>por Jorge Relato</p>
                </div>
            </div>
            
        </section>
        <footer class="footer">
            <p>All rights reserved, Foodfy recipes</p>
        </footer>

        <div class="modal">
            <div class="modal-content">
                <img src="" alt="">
            </div>
        </div>

        <script src="scripts.js"></script>
    </body>
</html>