{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <title>Nova Receita</title>
{% endblock head %}

{% block content %}
    <section class="details">
        <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
            <div class="head">
                <h1>Criando Receita</h1>
                <div class="options">
                    <a id="return" href="/admin/recipes">Voltar</a>
                    <button type="submit">Salvar receita</button>
                </div>
            </div>

            {% include "admin/recipes/fieldscreate.njk" %}

        </form>
    </section>
{% endblock content %}