<div class="item">
    <label for="">Imagem da receita</label>
    <div id="photos-upload">
        <i class="material-icons">
            add
        </i>
        <input id="photos-input" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
    </div>
    <div id="photos-preview">
        {% if files %}
            {% for image in files %}
                <div class="photo" id="{{image.id}}">
                    <img src="{{image.src}}" alt="{{image.name}}">
                    <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                </div>
            {% endfor %}
            <input type="hidden" name="removed_files">
        {% endif %}
    </div>

</div>

<div class="item">
    <label for="">Nome da Receita</label>
    <input type="text" name="title" value="{{recipe.title}}" placeholder=" Ex: Lasanha de Frango">
</div>

<div class="item">
    <div>Chef</div>
    <select name="chef" class="select-css">
        <option value="">Selecione um Chef</option>
        {% for chef in chefs %}
            <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected="selected" {% endif %}>
                {{chef.name}}
            </option>
        {% endfor %}
    </select>
</div>

<div id="ingredients" class="item">
    <div class="ingredients">
        <label for="">Ingredientes</label>
        <input class="ingredient" type="text" name="ingredients[]" value="" placeholder=" Ex: 1 xicara de açúcar"/>
    </div>
</div>
<button type="button" class="add-ingredient" onclick="addIngredient()">Adicionar novo ingrediente</button>

<div id="preparo" class="item">
    <div class="preparo">
        <label for="">Modo de preparo</label>
        <input class="step" type="text" name="preparation[]" value="" placeholder=" Coloque um passo de cada vez..."/>
    </div>
</div>
<button type="button" class="add-step" onclick="addStep()">Adicionar novo passo</button>

<div class="item">
    <label for="">Informações adicionais</label>
    <textarea name="information" id="info" cols="30" rows="10" placeholder=" Digite alguma informação adicional"></textarea>
</div>