{% extends 'admin/admin_layout.njk' %}

{% block head %}
    <title>{{recipe.title}}</title>
{% endblock head %}

{% block content %}

    <section class="details">
        <div class="head">
            <h1>Receita:
                {{recipe.title}}</h1>
            <div class="options">
                <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
                <input type="hidden" name="user_id" value="{{recipe.user_id}}">
            </div>
        </div>
        <div class="recipe">
            <div id="{{recipe.id}}"></div>
            <div class="gallery">
                <div class="highlight">
                    {% if not recipe.files[0] %}
                        <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="">
                    {% else %}
                        <img src="{{recipe.files[0].src}}" alt="{{recipe.files[0].name}}" onclick="Lightbox.open()">
                    {% endif %}
                    <div class="lightbox-target">
                        <img src="{{recipe.files[0].src}}" alt="{{recipe.files[0].name}}">
                        <a href="/admin/recipes/{{recipe.id}}/#" class="lightbox-close" onclick="Lightbox.close()">
                            <i class="material-icons">close</i>
                        </a>
                    </div>
                </div>
                <div class="gallery-preview">
                    {% for image in recipe.files %}
                        <img src="{{image.src}}" alt="{{image.name}}" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
                    {% endfor %}
                </div>
            </div>
            <div class="card-infos">
                <h2 id="id">{{recipe.title}}</h2>
                <p>por
                    {{recipe.chef}}</p>
            </div>
            <div class="ingredients" id="ingred">
                <h3>🥚 Ingredientes</h3>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>-
                            {{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="preparation">
                <h3>🍳 Modo de preparo</h3>
                <ul>
                    {% for step in recipe.preparation %}
                        <li>-
                            {{step}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="information">
                <h3>📝 Informações adicionais</h3>
                <p>{{recipe.information}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}