{% extends 'website/layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="styles/foodfy.css">

    <title>About</title>
{% endblock head %}
<body>
    <header>
        {% block header %}
        {% endblock header %}
    </header>
    {% block content %}
        <div class="about">
            <h1>About Foodfy</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum expedita adipisci, qui at facere sit deserunt perferendis ea quo enim? Quis debitis aperiam molestiae dolorem blanditiis reprehenderit laborum ipsa?<br>

                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quis eligendi sit ea vel aperiam maiores sed minima pariatur quia distinctio ab explicabo ullam exercitationem, repellat quas delectus. Neque, iste!</p>

            <h2>How it all started...</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum expedita adipisci, qui at facere sit deserunt perferendis ea quo enim? Quis debitis aperiam molestiae dolorem blanditiis reprehenderit laborum ipsa?<br>

                <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quis eligendi sit ea vel aperiam maiores sed minima pariatur quia distinctio ab explicabo ullam exercitationem, repellat quas delectus. Neque, iste!</p>

            <h2>Our recipes</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim doloremque suscipit quis, consectetur dignissimos magnam culpa rem reprehenderit eligendi saepe fugiat temporibus voluptate officiis laudantium totam quaerat sequi nostrum!</p>
        </div>
    {% endblock content %}
</body>