{% extends 'website/layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="styles/foodfy.css">

    <title>Recipes</title>
{% endblock head %}
{% block header %}
    <div class="search">
        <form action="/recipes/?" method="GET" class="class">
            <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
            <button type="submit">Buscar</button>
        </form>
    </div>
{% endblock header %}

{% block content %}

    <div class="title">
        <h2>Receitas</h2>
    </div>
    <section class="cards">

        {% for recipe in recipes %}
            <div class="card" id="{{recipe.id}}">
                <div class="image-content">
                    <div class="look">
                        <a href="/{{recipe.id}}" class="visualizar">Visualizar</a>
                    </div>
                    <img src="{{recipe.img}}" alt="{{recipe.title}}">
                </div>
                <div class="card-infos">
                    <h3 id="id">{{recipe.title}}</h3>
                    <p>por
                        {{recipe.chef_name}}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    <div class="pagination" 
    data-page={{pagination.page}} 
    data-total={{pagination.total}} 
    data-filter={{filter}}></div>
    
{% endblock content %}