{% if error %}
    <div class="messages error">
        {{error}}
    </div>

    <div class="input error">
    </div>
{% endif %}

{% if success %}
    <div class="messages success">
        {{success}}
    </div>
{% endif %}